<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Collection</title>
  </head>
  <body>
    <h1>Books in Library</h1>
    <div class="books">
      {{#books}}
      <div class="one-book">
        <a href="/{{title}}">
          <h2>{{title}}</h2>
        </a>
        <dl>
          {{#author}}
          <dt>Author</dt>
          <dd>{{.}}</dd>
          {{/author}}
        </dl>
      </div>
      {{/books}}
      {{^books}}
      <h2>No Books in Library</h2>
      {{/books}}
    </div>
    <p>
      <a href="/new">Add Book to Library</a>
    </p>
  </body>
</html>
