<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New Book</title>
  </head>
  <body>
    <h1>Enter New Book to Library</h1>
    <p>
      <a href="/">Back to Library</a>
    </p>
    {{#errorMsg}}
    <div class="alert-failure">
      {{errorMsg}}
    </div>
    {{/errorMsg}}
    <form class="new-book" action="." method="post">
      <p>
        <label for="title">Title:</label>
        <input type="text" id="name" name="title" value="" placeholder="Enter Title" required>
      </p>
      <p>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="" placeholder="Enter Author" required>
      </p>
      <p>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="" placeholder="Enter Genre">
      </p>
      <p>
        <label for="pages">Pages:</label>
        <input type="number" id="pages" name="pages" value="" placeholder="Number of Pages">
      </p>
      <p>
        <label for="year">Year Published: </label>
        <input type="number" id="year" name="year" value="" placeholder="Enter Publishing Year">
      </p>
      <p>
        <label for="editions">Editions: </label>
        <input type="text" name="editions" value="" placeholder="Enter Edition">
      </p>
      <p>
        <button type="submit" name="button">Enter New Book</button>
      </p>
    </form>
  </body>
</html>
