<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Book</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <h1>Add New Book to Library</h1>
    <p>
      <a href="/">Back to Library</a>
    </p>
    {{#errorMsg}}
    <div class="alert-failure">
      {{errorMsg}}
    </div>
    {{/errorMsg}}
    <form class="new-book" action="/new" method="post">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="" placeholder="Enter Title" required>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="" placeholder="Enter Author" required>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="" placeholder="Enter Genre">

        <label for="pages">Pages:</label>
        <input type="number" id="pages" name="pages" value="" placeholder="Number of Pages">

        <label for="year">Year Published:</label>
        <input type="number" id="year" name="year" value="" placeholder="Enter Publishing Year">

        <label for="isbn">ISBN:</label>
        <input type="number" id="isbn" name="isbn" placeholder="Enter ISBN #">

        <label for="language">Language:</label>
        <input type="text" id="language" name="language" placeholder="Enter Language">

        <a href="/">Enter New Edition</a>

        <button id="new_button" type="submit" name="button">Enter New Book</button>

    </form>
    <script src="https://cdn.shoelace.style/1.0.0-beta20/shoelace.js"></script>
  </body>
</html>
