<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Edition</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    {{#book}}
    <h2>Editions of {{title}}</h2>
    <ul>
    {{#editions}}
    <li>
    {{year}} {{publisher}} {{location}}
    </li>
    {{/editions}}
    </ul>
    <form action="/{{title}}/new_edition/" method="post">
    <p>
      <label for="year">Year:</label>
      <input type="number" name="year"/>
    </p>

    <p>
      <label for="publisher">Publisher:</label>
      <input type="text" name="publisher" />
    </p>

    <p>
      <label for="location">Location:</label>
      <input type="text" name="location"/>
    </p>

    <p>
      <button type="submit">Add Edition</button>
    </p>
    </form>
    <p>
      <a href="/{{title}}">Back to Book</a>
      {{/book}}
    </p>
    <p>
      <a href="/">Back to Library</a>
    </p>
    <script src="https://cdn.shoelace.style/1.0.0-beta20/shoelace.js"></script>
  </body>
</html>
