<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Edition</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    {{#books}}

    <a href="/{{title}}">Back to Book</a>
    {{/books}}
    <script src="https://cdn.shoelace.style/1.0.0-beta20/shoelace.js"></script>
  </body>
</html>
